.redes img{
    width: 90px;
}
.redes img:hover{
    width: 100px;
}
.redes{
    text-align: center;
}
.ul-redes{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin: 150px;
}
.div-redes h3{
    display: none;
}